body {
  
}

.carousel-inner img {
  max-height: 500px;

}


.logo {
  max-height: 70px; 
  height: auto;
  width: auto;
  margin-top: 0;
  display: flex;
  padding: 0;

}





@media (max-width: 576px) {
  .carousel-item img {
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .carousel-item img {
    height: 400px;
  }
}
